---
layout: page
title: Objectives
desc: Objectives
permalink: /objectives/
---

<div style="height:10px;">&nbsp;</div>

<p style="text-align:justify;font-size:80%;">
The purpose of the NetCost project is to develop a conceptual framework which aims at quantifying, quantitatively and qualitatively, the cost of changes occurring in a complex system by measuring their impact at different scales, with a particular focus on how these changes will affect the individual elements forming the system. In an uncertain and ever-changing world, it is indeed important to develop rigorous and transparent methods in order to identify the most vulnerable parts of a system, but also to measure how the effort needed to adapt to changes, whether sustained or triggered, is distributed across the system. The proposed framework, relying on complex network science, will be applied on three different complex spatial systems selected for their importance in relation to urban planning, vegetation mapping and modelling, and spatial economy. The first application will focus on the resilience of public transport network in Barcelona aiming to gain better insight on the impact of exceptional events on individual daily mobility in cities. The second application concerns the impact of climate change on the spatial distribution of Mediterranean vegetation by analysing the biogeographical structure of plant species distribution in the French Mediterranean area. The last application will study the agricultural food supply chain in the region of Montpellier in order to quantify the effort to be made by the different actors to reach a sustainable urban food system based on short agri-food supply chains. 
</p>

<div style="height:10px;">&nbsp;</div>
<center>
  <img src="{{ '/assets/img/WPs.png' | relative_url }}" border="0" width="650">
</center>
<div style="height:40px;">&nbsp;</div>

<p style="text-align:justify;font-size:80%;">
We will consider these complex systems as a whole and will integrate, as far as possible, the economic, social and environmental dimensions of sustainable development by thinking across different scales, domains, and disciplines. Through an approach centred on the individual, NetCost takes into account individual diversity and the fact that costs and benefits that accompanied changes are not evenly distributed among a population.  The network-based approach developed in NetCost will bring foresight tools allowing for a quantitative measurements of impacts of bottom-up or top-down changes at different scales. Thus, the NetCost framework will be a tool fostering transparency by making societal, environmental and economic impacts of projects visible. In addition, through the visual presentation of cost and benefit assessments at an individual scale, the project will present alternative futures in an objective, quantitative, and fair manner in order to encourage and fuel public debates. 
</p>


