---
layout: page
title: Outputs
desc: Outputs
permalink: /outputs/
---

<h3>Peer-reviewed journal articles</h3>

<p style="text-align:justify;font-size:80%;">
  <ul style="text-align:justify;font-size:80%;line-height:200%;">
    <li> Lenormand M & Samaniego H (2023) <a href="https://www.mdpi.com/2413-8851/7/1/15" target=_blank>Uncovering the Socioeconomic Structure of Spatial and Social Interactions in Cities.</a> <i>Urban Science</i> 7, 15. </li>
    <li> Pr&#233;au <i>et al.</i> (2022) <a href="https://link.springer.com/article/10.1007/s10980-021-01371-y" target=_blank>Dispersal-based species pools as sources of connectivity area mismatches.</a> <i>Landscape Ecology</i> 37, 729-743. </li>
    <li> Lee-Cruz <i>et al.</i> (2021) <a href="https://journals.plos.org/plosntds/article?id=10.1371/journal.pntd.0009683" target=_blank>Mapping of Ebola virus spillover: suitability and seasonal variability at the landscape scale.</a> <i>PLOS Neglected Tropical Diseases</i> 15, e0009683. </li>
    <li> Lenormand <i>et al.</i> (2021) <a href="https://appliednetsci.springeropen.com/articles/10.1007/s41109-021-00353-y" target=_blank>Animal daily mobility patterns analysis using resting event networks.</a> <i>Applied Network Science</i> 6, 7. </li>
    <li> Lenormand <i>et al.</i> (2020) <a href="https://royalsocietypublishing.org/doi/10.1098/rsif.2020.0673" target=_blank>On the importance of trip destination for modeling individual human mobility patterns.</a> <i>Journal of the Royal Society Interface</i> 17, 20200673. </li>
    <li> Chiffoleau <i>et al.</i> (2020) <a href="https://link.springer.com/article/10.1007/s41130-020-00120-0" target=_blank> Coexistence of supply chains in a city’s food supply: a factor for resilience?</a> <i>Review of Agricultural, Food and Environmental Studies</i> 101, 391-414. </li>
    <li> Billaud <i>et al.</i> (2020) <a href="https://www.sciencedirect.com/science/article/pii/S0198971520302490" target=_blank> Comprehensive decision-strategy space exploration for efficient territorial planning strategies.</a> <i>Computers, Environment and Urban Systems</i> 83, 101516. </li>
    <li> Jahel <i>et al.</i> (2020) <a href="https://www.nature.com/articles/s41598-020-65132-8" target=_blank> Mapping livestock movements in Sahelian Africa.</a> <i>Scientific Reports</i> 10, 8339. </li>
    <li> Lenormand <i>et al.</i> (2020) <a href="https://www.mdpi.com/1099-4300/22/3/368#" target=_blank> Entropy as a Measure of Attractiveness and Socioeconomic Complexity in Rio de Janeiro Metropolitan Area.</a> <i>Entropy</i> 22, 368. </li>
    <li> Bassolas <i>et al.</i> (2020) <a href="https://www.nature.com/articles/s41598-020-59576-1" target=_blank> Scaling in the recovery of urban transportation systems from massive events.</a> <i>Scientific Reports</i> 10, 2746. </li>
    <li> Mazzoli <i>et al.</i> (2019) <a href="https://www.nature.com/articles/s41467-019-11841-2" target=_blank> Field Theory for recurrent mobility.</a> <i>Nature Communications</i> 10, 3895. </li>
    <li> Lenormand <i>et al.</i> (2019) <a href="https://onlinelibrary.wiley.com/doi/full/10.1002/ece3.4718" target=_blank>Biogeographical network analysis of plant species distribution in the Mediterranean region.</a> <i>Ecology & Evolution</i> 9, 237-250. </li>
    <li> Lenormand <i>et al.</i> (2018) <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0206672" target=_blank>Multiscale socio-ecological networks in the age of information.</a> <i>PLoS ONE</i> 30, e0206672. </li>
  </ul> 
</p>

<h3>Communications</h3>

<p style="text-align:justify;font-size:80%;">
  <ul style="text-align:justify;font-size:80%;line-height:200%;">
    <li> Denelle P, Lenormand M & Leroy B (2022) <a href="https://www.mmmycloud.com/index.php/s/gHgbjrn6WqD2Ndr" target=_blank>bioRgeo: An R package to compare several methods of bioregionalizations.</a> <i>CCS 2022,</i> 17-21 October 2022, Palma de Mallorca, Spain. </li>
    <li> Lenormand M (2020) <a href="https://www.mmmycloud.com/index.php/s/2fZkn5jyKmPtP6q" target=_blank>Hierarchical socioeconomic structure of spatial and social interactions in Chile.</a> <i>TETIS Seminar,</i> 1 December 2020, Montpellier, France. </li>
    <li> Lenormand M (2020) <a href="https://www.mmmycloud.com/index.php/s/ixGRAm6GM9yWHCJ" target=_blank>Hierarchical socioeconomic structure of spatial and social interactions in Chile.</a> <i>IFISC Socio-physics meeting,</i> 29 October 2020, Palma de Mallorca, Spain. </li>
    <li> Brit A-C, Monnier M,  Lenormand M, Sauc&#232;de F, Akermann G & Chiffoleau Y (2019) <a href="https://" target=_blank>Coexistence des circuits d'approvisionnement et r&#233;silience alimentaire, le cas de Montpellier.</a> <i>Colloque Reterritorialisation de l'alimentation,</i> 28 November 2019, Paris, France. </li>
    <li> Monnier M, Lenormand M & Ienco, D (2019) <a href="https://www.mmmycloud.com/index.php/s/izi64W5pywxMREx" target=_blank>A network-based approach to assess urban food supply resilience: the case of Montpellier supply in tomatoes.</a> <i>MARAMI, The 10th Conference on Network Modeling and Analysis,</i> 6-8 November 2019, Dijon, France.</li>
    <li> Lenormand M (2019) <a href="https://www.mmmycloud.com/index.php/s/WrGzcQsyaFSYHTk" target=_blank>From individual spatio-temporal trajectories to spatial networks.</a> <i>XTerM2019: syst&#232;mes compleXes, intelligence Territoriale et Mobilit&#233;,</i> 26-28 June 2019, Le Havre, France. </li>  
    <li> Monnier M (2019) <a href="https://www.mmmycloud.com/index.php/s/p6ns9byp3mLRSjn" target=_blank>Cartographie de flux routiers avec OSRM et R.</a> <i>State of the Map, 7i&#232;me rencontre nationale d'OpenStreetMap,</i> 14-16 June 2019, Montpellier, France. </li>    
    <li> Argagnon O, Papuga G & Lenormand M (2019) <a href="https://www.mmmycloud.com/index.php/s/L6XTa4xSdeRX55J" target=_blank>Identification de bio-r&#233;gions par l’analyse des r&#233;seaux dans le sud-est de la France</a> <i>La cartographie de la flore, un outil au service des politiques publiques de la biodiversit&#233;,</i> 7-8 June 2019, Nantes, France. </li>
    <li> Chiffoleau Y, Brit A-C, Monnier M, Akermann G, Lenormand M & Sauc&#232;de F (2019) <a href="https://www.mmmycloud.com/index.php/s/DcRnKosByNAEd8e" target=_blank>Nourrir une ville : des circuits d'approvisionnement au r&#233;seau social spatialis&#233;.</a> <i>Conf&#233;rence Frognet – Analyse francophone des graphes et des r&#233;seaux sociaux,</i> 27-28 May 2019, Toulouse, France. </li>
    <li> Monnier M, Brit A-C, Lenormand M & Chiffoleau Y (2019) <a href="https://www.mmmycloud.com/index.php/s/Ta6k4sgoL3jLLas" target=_blank>L'approvisionnement alimentaire d'une ville est-il r&#233;silient ? Exemple avec la mod&#233;lisation  des circuits d’approvisionnement de Montpellier en tomate, oeuf et pain.</a> <i>Quatorzi&#232;mes Rencontres de Th&#233;o Quant,</i> 7 February 2019, Besan&#231;on, France. </li>
    <li> Monnier M, Chapron P, Commenges H & Lenormand M (2019) <a href="https://www.mmmycloud.com/index.php/s/AzxjQA55YBomPa8" target=_blank>Mesurer l'excess commuting &#224; diff&#233;rentes &#233;chelles.</a> <i>Quatorzi&#232;mes Rencontres de Th&#233;o Quant,</i> 7 February 2019, Besan&#231;on, France. </li>
    <li> Akermann G, Brit A-C, Chiffoleau Y, Lenormand M & Monnier M (2019) <a href="https://www.mmmycloud.com/index.php/s/8MZrjqaHbgt7xTj" target=_blank>Caract&#233;risation et mod&#233;lisation des flux alimentaires dans les syst&#232;mes alimentaires urbains, entre strat&#233;gies de relocalisation et enjeux de r&#233;silience. </a> <i>Ecole-chercheurs "Syst&#232;mes alimentaires et villes : interactions, innovations et leviers pour la  durabilit&#233;"»,</i> 21-24 January 2019,  Juvignac, France.</li>
    <li> Lenormand M (2018) <a href="https://www.mmmycloud.com/index.php/s/Q4kWqZ3amxY6XWp" target=_blank>ICT Data, Spatial Networks & Society.</a> <i>Workshop urban networks and society,</i> 11 October 2018,  COPPE/UFRJ, Rio de Janeiro, Brazil. </li>
    <li> Lenormand M & Luque S (2018) <a href="https://www.mmmycloud.com/index.php/s/CpAariosFiCNnS6" target=_blank>Multiscale socio-ecological networks in the age of information.</a> <i>IUFRO Posadas 2018,</i> 4 October 2018, Posadas, Argentina. </li>
    <li> Ramasco JJ (2018) <a href="https://www.mmmycloud.com/index.php/s/3M9BsSYsN89QTAM" target=_blank>ICT data to study society: applications to urban systems and tourism.</a> <i>Caf&#233; MTD,</i> 19 June 2018, Montpellier, France. </li>
    <li> Lenormand M & Argagnon O (2018) <a href="https://www.mmmycloud.com/index.php/s/Qfb9cPoe2AosBSA" target=_blank>Biogeographical network analysis of plant species distribution.</a> <i>NetSci 2018,</i> 15 June 2018, Paris, France. </li>
    <li> Lenormand M & Luque S (2018) <a href="https://www.mmmycloud.com/index.php/s/Kd9gRDn2wZm5M4n" target=_blank>Multiscale socio-ecological networks in the age of information.</a> <i>NetSci 2018,</i> 13 June 2018, Paris, France. </li>
    <li> Lenormand M (2018) <a href="https://www.mmmycloud.com/index.php/s/5KkHtknk3QysrmH" target=_blank>Data & Network Sciences.</a> <i>Ecoinformatica Seminar, Universidad Austral del Chile,</i> 15 March 2018, Valdivia, Chile. </li>
    <li> Lenormand M (2018) <a href="https://www.mmmycloud.com/index.php/s/ckSFpd3Edpg3cHJ" target=_blank>The NetCost project.</a> <i>ANR - Réunion de lancement CE03 - projets financés 2017,</i> 8 February 2018, Paris, France. </li>
    <li> Lenormand M (2018) <a href="https://www.mmmycloud.com/index.php/s/q9FSHMqWSA854y6" target=_blank>A network approach to assess the cost of change.</a> <i>LISC Seminar,</i> 31 January 2018, Clermont-Ferrand, France.  </li> 
  </ul> 
</p>

<h3>Web interactive applications</h3>

<p style="text-align:justify;font-size:80%;">
  <ul style="text-align:justify;font-size:80%;line-height:200%;">
    <li> <a href="http://shiny.umr-tetis.fr/Biogeo/" target=_blank>Biogeographical network analysis of plant species distribution in the Mediterranean region</a> is a web interactive application designed to provide an easy-to-use interface to visualize multiscale biogeographical structures of plant species distribution in the south of France. </li>
  </ul> 
</p>

<h3>Organization of events</h3>

<p style="text-align:justify;font-size:80%;">
  <ul style="text-align:justify;font-size:80%;line-height:200%;">
    <li> Brit A-C, Monnier M, Lenormand M, Akermann G & Chiffoleau Y (2019) <a href="https://www.mmmycloud.com/index.php/s/ptaX9X5qGc8yyo7" target=_blank>Caract&#233;risation et mod&#233;lisation des flux alimentaires dans les syst&#232;mes alimentaires urbains, entre strat&#233;gies de relocalisation et enjeux de r&#233;silience.</a> <i>Restitution workshop,</i> 14 January 2019, Irstea of Montpellier, Montpellier, France. </li>
  </ul> 
</p>

<h3>Supervision of students</h3>

<p style="text-align:justify;font-size:80%;">
  <ul style="text-align:justify;font-size:80%;line-height:200%;">
    <li> Anne-C&#233;cile Brit (2018) <a href="https://" target=_blank>Caract&#233;risation et mod&#233;lisation des flux alimentaires dans les syst&#232;mes alimentaires urbains, entre strat&#233;gies de relocalisation et enjeux de r&#233;silience.</a> M&#233;moire de mission professionnelle, Ing&#233;nieur sp&#233;cialis&#233; Innovations dans les syst&#232;mes agricoles et agroalimentaires du monde, Montpellier SupAgro, Montpellier, France. </li>
    <li> Milo Monnier (2018) <a href="https://www.mmmycloud.com/index.php/s/RgSnooafDxxJWTe" target=_blank>Caract&#233;risation et mod&#233;lisation des flux alimentaires dans les syst&#232;mes alimentaires urbains, entre strat&#233;gies de relocalisation et enjeux de r&#233;silience.</a> Stage de Master II, Universit&#233; Paul Valery, Montpellier, France. </li>
    <li> Maxence Soubeyrand (2018) <a href="http://shiny.umr-tetis.fr/Biogeo/" target=_blank>D&#233;veloppement d'une application web interactive pour l'analyse et la visualisation de r&#233;gions biog&#233;ographiques.</a> Stage de Master I, Universit&#233; Paul Sabatier, Toulouse, France. </li>
  </ul> 
</p>

<h3>Visiting scholars</h3>

<p style="text-align:justify;font-size:80%;">
  <ul style="text-align:justify;font-size:80%;line-height:200%;">
    <li>  <a href="https://scholar.google.com/citations?user=VeJEo1AAAAAJ&hl=en" target=_blank>Horacio Samaniego</a> - Universidad Austral de Chile (September 2018) </li>
    <li>  <a href="https://scholar.google.com/citations?user=aEdK_vsAAAAJ&hl=en" target=_blank>Jos&#233; Javier Ramasco</a> - Universitat de les Illes Balears (June 2018) </li>
  </ul> 
</p>
 
<h3>Research stays</h3>

<p style="text-align:justify;font-size:80%;">
  <ul style="text-align:justify;font-size:80%;line-height:200%;">
    <li> Universitat de les Illes Balears (October-November 2020) </li>
    <li> Universidad Austral de Chile (March 2020) </li>
    <li> Universitat de les Illes Balears (April-May 2019) </li>
    <li> Universidade Federal do Rio de Janeiro (October 2018) </li>
    <li> Universidad Austral de Chile (March 2018) </li>
  </ul> 
</p>









