---
layout: page
---

<div style="height:10px;">&nbsp;</div>

<p style="text-align:justify;font-size:80%;">
<a href="https://netcost.gitlab.io/" target=_blank>NetCost</a> is a Young Researchers project funded by the <a href="http://www.agence-nationale-recherche.fr/en/" target=_blank>French National Research Agency</a>. The purpose of the NetCost project is to develop a conceptual framework which aims at quantifying, quantitatively and qualitatively, the cost of changes occurring in a complex system by measuring their impact at different scales, with a particular focus on how these changes will affect the individual elements forming the system. The proposed framework, relying on complex network science, will be applied on three different complex spatial systems selected for their importance in urban planning, ecology and spatial economy. The project started on January 2018 and will run for four years.
</p>

<p style="text-align:justify;font-size:80%;">
Scientific supervision and contact: <a href="http://www.maximelenormand.com/" target=_blank>Maxime Lenormand</a> (<a href="https://www.umr-tetis.fr/index.php/fr/" target=_blank>UMR TETIS</a>, <a href="http://www.irstea.fr/en/accueil" target=_blank>Irstea</a>).
</p>

<h3>Supported by</h3>
<hr>

<a href="http://www.agence-nationale-recherche.fr/en/" target="_blank" ><img src="{{ '/assets/img/ANR.png' | relative_url }}" border="0" width="200" align="bottom" /></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://www.irstea.fr/en/accueil" target="_blank" ><img src="{{ '/assets/img/Irstea.png' | relative_url }}" border="0" width="100" align="bottom" /></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://www.umr-tetis.fr/index.php/fr/" target="_blank" ><img src="{{ '/assets/img/tetis.png' | relative_url }}" border="0" width="300" align="bottom" /></a>

<hr>
<p style="text-align:justify;font-size:70%;"> 
Website made with <a href="http://jekyllrb.com" target="_blank"><font color="#4072B5">Jekyll</font></a> based on the <a href="https://github.com/clenemt/jackal" target="_blank"><font color="#4072B5">Jackal</font></a> theme. 
</p>
