<header class="site-header">

  <h1 class="site-title">
    <a href="{{ site.baseurl }}/" title="Home page"><img class="site-logo" src="{{ site.baseurl }}/assets/img/logo.png"></a>
  </h1>    

  <nav class="site-nav">

    <a class="{% if page.url == '/' %} current{% endif %}" href="{{ '/' | relative_url }}">Home</a>    

    {% for link in site.navigation %}
      {% assign current = nil %}
      {% if page.url contains link.url %}
        {% assign current = 'class="current"' %}
      {% endif %}
    <a href="{{ link.url | prepend: site.baseurl }}" {{ current }} >{{ link.title }}</a>
    {% endfor %}
  </nav>

</header>
<!-- site-header -->
